<a href="https://colab.research.google.com/github/oxanaRC/CE902/blob/main/Building_experimental_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

08.08.21

1. Extracting property sales dataset from HarperDB
2. Extracting 'number of bedrooms' data from HarperDB and joining to the property sales dataset.
3. Extracting sales-postcodes-mappings-to-schools-postcodes from HarperDB
4. Constructing features related to the schools mapping data (num_of_sec_sch,	score_disadv,	closest_disadv_prct,	closest_aver_attain_eng,	closest_aver_attain_math,	closest_sch_distance) and merging schools related features to the main dataset.
5. Feature to represent a historic point: e.g. 01-2018=>1, 02-2018=>2 etc
6. Extracting historic (3 months and 4 months) median price per bedroom for each postal area and merging this to the main dataset.
7.Calculate each price per bedroom for comparing with historic median ppd.
8. Extracting data on distances from each sales postcode to three locations (in London, Birmingham, Manchester) from HarperDB and merging this with the nain dataset.
9. Removing data which has current 'price-per-bedroom' over 100% comparing to the historic medial 'price-per-bedroom'.


Output three csv files:
1) dataset for training and testing ()
2) dataset for validation
3) dataset for records identification ('location key', 'postal code' and 'district) - this to be joined with data after predictions were done so the quality of predictions could be analysed by location.

In [1]:
!pip install harperdb

Collecting harperdb
  Downloading harperdb-0.4.2-py3-none-any.whl (13 kB)
Requirement already satisfied: requests~=2.0 in /usr/local/lib/python3.7/dist-packages (from harperdb) (2.23.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests~=2.0->harperdb) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests~=2.0->harperdb) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests~=2.0->harperdb) (2021.5.30)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests~=2.0->harperdb) (2.10)
Installing collected packages: harperdb
Successfully installed harperdb-0.4.2

In [2]:
import harperdb
import pandas as pd
import numpy as np
from pathlib import Path

In [3]:
url='https://ce901data-orc0770.harperdbcloud.com'
db=harperdb.HarperDB(url=url,
            username='myuser',
            password='abcdef',
            timeout=500)

In [4]:
db

Below data is extracted from the SQL database, however because of poor performance of the JOIN SQL operations, instead of relational SQL statements, the JOIN operations are performed in pandas DataFrames (according to https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html).


The data extraction from SQL tables in placed within the loop to avoid the database timeout issues.

This extracts property sales data.

In [5]:
list_of_dfs = {}
count=0
for mt in range(1, 11):
  for yr in range (2018,2021):
    year=yr
    month=mt
    count=count+1
    sqlstring='SELECT propertypurchases.unique_id, propertypurchases.price_paid, propertypurchases.town, propertypurchases.district, propertypurchases.estate_type, propertypurchases.property_type, propertypurchases.deed_date, propertypurchases.postcode FROM projectdata.propertypurchases WHERE deed_date LIKE "%{}/{}"'
    sqlstring=sqlstring.format(month,year)
    #print(sqlstring)
    my_db_data=db.sql(sqlstring)
    list_of_dfs[count] = pd.DataFrame(my_db_data)
    print(list_of_dfs[count].shape)
df_prop_sales = pd.concat(list_of_dfs, sort=False)
#excluding 'other' property types (i.e. commercial) from the properties sales data 
df_prop_sales=df_prop_sales[(df_prop_sales['property_type']!='O')]
df_prop_sales

(169065, 8)
(159110, 8)
(133520, 8)
(157760, 8)
(156576, 8)
(94872, 8)
(84147, 8)
(81931, 8)
(71124, 8)
(72140, 8)
(74714, 8)
(29808, 8)
(81439, 8)
(81425, 8)
(36483, 8)
(95768, 8)
(85103, 8)
(53814, 8)
(88779, 8)
(89006, 8)
(62290, 8)
(101675, 8)
(93414, 8)
(62584, 8)
(83257, 8)
(82914, 8)
(69959, 8)
(93078, 8)
(91044, 8)
(84980, 8)

                                     unique_id  price_paid  ...   deed_date postcode
1  0      64342BFD-ABA7-422C-E053-6C04A8C0FB8A     1740000  ...  11/01/2018   E8 4NE
   1      64342BFD-ABAA-422C-E053-6C04A8C0FB8A     1525000  ...  19/01/2018   N5 1BZ
   2      64342BFD-ABAB-422C-E053-6C04A8C0FB8A     3306000  ...  17/01/2018  W11 1NZ
   3      64342BFD-ABAC-422C-E053-6C04A8C0FB8A      442000  ...  04/01/2018  IG3 9NB
   4      64342BFD-ABB0-422C-E053-6C04A8C0FB8A     1375000  ...  12/01/2018  W12 8JN
...                                        ...         ...  ...         ...      ...
30 84973  C18F412B-BE2B-81A6-E053-6B04A8C0AD18      125000  ...  09/10/2020  LS9 9DA
   84974  C18F412B-BEA1-81A6-E053-6B04A8C0AD18      147500  ...  06/10/2020  HD5 9NY
   84975  C18F412B-BEA2-81A6-E053-6B04A8C0AD18      145000  ...  06/10/2020  HD5 9NY
   84977  C18F412B-BEA5-81A6-E053-6B04A8C0AD18      104000  ...  02/10/2020  WF4 6AB
   84979  C18F412B-BEE8-81A6-E053-6B04A8C0AD18      169000  ...  30/10/2020  WF7 5PG

[2563547 rows x 8 columns]

Below extracting number of bedrooms data for each property sale id.

In [6]:
sqlstring='SELECT bedrooms.id, bedrooms.num_of_beds FROM projectdata.bedrooms WHERE num_of_beds>0'
bedrooms=db.sql(sqlstring)
df_bedrooms=pd.DataFrame(bedrooms)
df_bedrooms.rename(columns = {'id':'unique_id'}, inplace = True)
df_bedrooms

                                    unique_id  num_of_beds
0        726BF13A-B9B6-0A46-E053-6C04A8C01D0D            1
1        9B361206-34DE-1904-E053-6B04A8C0EEB5            1
2        726BF13B-13CE-0A46-E053-6C04A8C01D0D            1
3        A71375FD-EBA1-7576-E053-6C04A8C0462F            1
4        8355F008-F016-55C5-E053-6B04A8C0D090            1
...                                       ...          ...
1231571  8355F009-2B4F-55C5-E053-6B04A8C0D090           47
1231572  8A78B2B0-784A-5CB0-E053-6B04A8C0F504           48
1231573  8355F009-8A15-55C5-E053-6B04A8C0D090           55
1231574  8A78B2B0-4326-5CB0-E053-6B04A8C0F504           81
1231575  7011B109-AC9A-8ED6-E053-6B04A8C075C1           94

[1231576 rows x 2 columns]

In [45]:
#merging bedrooms data with property sales data.
data = pd.merge(df_bedrooms, df_prop_sales, how="left", on="unique_id")
data

                                    unique_id  ...  postcode
0        726BF13A-B9B6-0A46-E053-6C04A8C01D0D  ...   M30 8EG
1        9B361206-34DE-1904-E053-6B04A8C0EEB5  ...   M25 1ET
2        726BF13B-13CE-0A46-E053-6C04A8C01D0D  ...   NR3 1SX
3        A71375FD-EBA1-7576-E053-6C04A8C0462F  ...  SW12 0JP
4        8355F008-F016-55C5-E053-6B04A8C0D090  ...   CM7 1TD
...                                       ...  ...       ...
1231571  8355F009-2B4F-55C5-E053-6B04A8C0D090  ...   WN7 1NG
1231572  8A78B2B0-784A-5CB0-E053-6B04A8C0F504  ...  NP12 3LQ
1231573  8355F009-8A15-55C5-E053-6B04A8C0D090  ...   CH6 5DY
1231574  8A78B2B0-4326-5CB0-E053-6B04A8C0F504  ...  OL14 8NL
1231575  7011B109-AC9A-8ED6-E053-6B04A8C075C1  ...  IP27 0PU

[1231576 rows x 9 columns]

In [46]:
#check rows where postcode is NAN - these are the result of rows added on the Join with bedrooms data where bedrooms data is for sale happened after the considered period
#data_t=data[ (data['postcode'].isnull()) ]
#drop NAN rows from data
data=data.dropna(subset=['postcode'])     
data

                                    unique_id  ...  postcode
0        726BF13A-B9B6-0A46-E053-6C04A8C01D0D  ...   M30 8EG
1        9B361206-34DE-1904-E053-6B04A8C0EEB5  ...   M25 1ET
2        726BF13B-13CE-0A46-E053-6C04A8C01D0D  ...   NR3 1SX
3        A71375FD-EBA1-7576-E053-6C04A8C0462F  ...  SW12 0JP
4        8355F008-F016-55C5-E053-6B04A8C0D090  ...   CM7 1TD
...                                       ...  ...       ...
1231571  8355F009-2B4F-55C5-E053-6B04A8C0D090  ...   WN7 1NG
1231572  8A78B2B0-784A-5CB0-E053-6B04A8C0F504  ...  NP12 3LQ
1231573  8355F009-8A15-55C5-E053-6B04A8C0D090  ...   CH6 5DY
1231574  8A78B2B0-4326-5CB0-E053-6B04A8C0F504  ...  OL14 8NL
1231575  7011B109-AC9A-8ED6-E053-6B04A8C075C1  ...  IP27 0PU

[1229346 rows x 9 columns]

In [47]:
#removing duplicates (some bedroom data was loaded to the HarperDB twice by mistake)
data=data.drop_duplicates()
data

                                    unique_id  ...  postcode
0        726BF13A-B9B6-0A46-E053-6C04A8C01D0D  ...   M30 8EG
1        9B361206-34DE-1904-E053-6B04A8C0EEB5  ...   M25 1ET
2        726BF13B-13CE-0A46-E053-6C04A8C01D0D  ...   NR3 1SX
3        A71375FD-EBA1-7576-E053-6C04A8C0462F  ...  SW12 0JP
4        8355F008-F016-55C5-E053-6B04A8C0D090  ...   CM7 1TD
...                                       ...  ...       ...
1231571  8355F009-2B4F-55C5-E053-6B04A8C0D090  ...   WN7 1NG
1231572  8A78B2B0-784A-5CB0-E053-6B04A8C0F504  ...  NP12 3LQ
1231573  8355F009-8A15-55C5-E053-6B04A8C0D090  ...   CH6 5DY
1231574  8A78B2B0-4326-5CB0-E053-6B04A8C0F504  ...  OL14 8NL
1231575  7011B109-AC9A-8ED6-E053-6B04A8C075C1  ...  IP27 0PU

[1219330 rows x 9 columns]

In [10]:
#Extracting sales-postcodes-mappings-to-schools-postcodes 
#sales-postcodes-mappings-to-schools-postcodes data is kept in 7 separate SQL tables (due to processing issues with HarperDB)
#Extraction of the data is done from the 7 seprate SQL tables and then the data is merged in one df_local_schools dataframe
list_of_mapping_dfs = {}
sqlstring='SELECT map_sales_pc_to_school_a_c.sales_postcode, map_sales_pc_to_school_a_c.urn, map_sales_pc_to_school_a_c.distance, map_sales_pc_to_school_a_c.disadv_prct, map_sales_pc_to_school_a_c.aver_attain_eng , map_sales_pc_to_school_a_c.aver_attain_math FROM projectdata.map_sales_pc_to_school_a_c'
school_pc_mapping=db.sql(sqlstring)
list_of_mapping_dfs[1]=pd.DataFrame(school_pc_mapping)
sqlstring='SELECT map_sales_pc_to_school_d_i.sales_postcode, map_sales_pc_to_school_d_i.urn, map_sales_pc_to_school_d_i.distance, map_sales_pc_to_school_d_i.disadv_prct, map_sales_pc_to_school_d_i.aver_attain_eng , map_sales_pc_to_school_d_i.aver_attain_math FROM projectdata.map_sales_pc_to_school_d_i'
school_pc_mapping=db.sql(sqlstring)
list_of_mapping_dfs[2]=pd.DataFrame(school_pc_mapping)
sqlstring='SELECT map_sales_pc_to_school_j_m.sales_postcode, map_sales_pc_to_school_j_m.urn, map_sales_pc_to_school_j_m.distance, map_sales_pc_to_school_j_m.disadv_prct, map_sales_pc_to_school_j_m.aver_attain_eng , map_sales_pc_to_school_j_m.aver_attain_math FROM projectdata.map_sales_pc_to_school_j_m'
school_pc_mapping=db.sql(sqlstring)
list_of_mapping_dfs[3]=pd.DataFrame(school_pc_mapping)
sqlstring='SELECT map_sales_pc_to_school_n_q.sales_postcode, map_sales_pc_to_school_n_q.urn, map_sales_pc_to_school_n_q.distance, map_sales_pc_to_school_n_q.disadv_prct, map_sales_pc_to_school_n_q.aver_attain_eng , map_sales_pc_to_school_n_q.aver_attain_math FROM projectdata.map_sales_pc_to_school_n_q'
school_pc_mapping=db.sql(sqlstring)
list_of_mapping_dfs[4]=pd.DataFrame(school_pc_mapping)
sqlstring='SELECT map_sales_pc_to_school_r.sales_postcode, map_sales_pc_to_school_r.urn, map_sales_pc_to_school_r.distance, map_sales_pc_to_school_r.disadv_prct, map_sales_pc_to_school_r.aver_attain_eng , map_sales_pc_to_school_r.aver_attain_math FROM projectdata.map_sales_pc_to_school_r'
school_pc_mapping=db.sql(sqlstring)
list_of_mapping_dfs[5]=pd.DataFrame(school_pc_mapping)
sqlstring='SELECT map_sales_pc_to_school_s.sales_postcode, map_sales_pc_to_school_s.urn, map_sales_pc_to_school_s.distance, map_sales_pc_to_school_s.disadv_prct, map_sales_pc_to_school_s.aver_attain_eng , map_sales_pc_to_school_s.aver_attain_math FROM projectdata.map_sales_pc_to_school_s'
school_pc_mapping=db.sql(sqlstring)
list_of_mapping_dfs[6]=pd.DataFrame(school_pc_mapping)
sqlstring='SELECT map_sales_pc_to_school_t_z.sales_postcode, map_sales_pc_to_school_t_z.urn, map_sales_pc_to_school_t_z.distance, map_sales_pc_to_school_t_z.disadv_prct, map_sales_pc_to_school_t_z.aver_attain_eng , map_sales_pc_to_school_t_z.aver_attain_math FROM projectdata.map_sales_pc_to_school_t_z'
school_pc_mapping=db.sql(sqlstring)
list_of_mapping_dfs[7]=pd.DataFrame(school_pc_mapping)
df_local_schools = pd.concat(list_of_mapping_dfs, sort=False)
df_local_schools

         sales_postcode     urn  ...  aver_attain_eng aver_attain_math
1 0             AL1 1AJ  138042  ...              9.4              8.3
  1             AL1 1AJ  138106  ...             12.3             10.8
  2             AL1 1AJ  137038  ...             11.2             11.1
  3             AL1 1AJ  138582  ...             10.6              9.2
  4             AL1 1AJ  117674  ...              2.4              2.3
...                 ...     ...  ...              ...              ...
7 772678        YO8 9XP  144929  ...              9.7              8.3
  772679        YO8 9XP  143138  ...              9.6             10.1
  772680        YO8 9YB  121702  ...              9.4              9.0
  772681        YO8 9YB  143138  ...              9.6             10.1
  772682        YO8 9YE  143138  ...              9.6             10.1

[6520480 rows x 6 columns]

In [11]:
#remove special schools 
df_local_schools.drop(df_local_schools[df_local_schools['disadv_prct']=='NP'].index, inplace = True)
df_local_schools

         sales_postcode     urn  ...  aver_attain_eng aver_attain_math
1 0             AL1 1AJ  138042  ...              9.4              8.3
  1             AL1 1AJ  138106  ...             12.3             10.8
  2             AL1 1AJ  137038  ...             11.2             11.1
  3             AL1 1AJ  138582  ...             10.6              9.2
  4             AL1 1AJ  117674  ...              2.4              2.3
...                 ...     ...  ...              ...              ...
7 772678        YO8 9XP  144929  ...              9.7              8.3
  772679        YO8 9XP  143138  ...              9.6             10.1
  772680        YO8 9YB  121702  ...              9.4              9.0
  772681        YO8 9YB  143138  ...              9.6             10.1
  772682        YO8 9YE  143138  ...              9.6             10.1

[6495209 rows x 6 columns]

In [12]:
#cheking if the school mappings data contains Nan
data_test = df_local_schools[(df_local_schools['disadv_prct'].isnull())]
data_test

Empty DataFrame
Columns: [sales_postcode, urn, distance, disadv_prct, aver_attain_eng, aver_attain_math]
Index: []

In [13]:
#cheking if the school mappings data contains duplicates
school_map_dupl = df_local_schools[df_local_schools.duplicated()]
school_map_dupl

Empty DataFrame
Columns: [sales_postcode, urn, distance, disadv_prct, aver_attain_eng, aver_attain_math]
Index: []

In [14]:
#adding 'weights' to the school mapping data: calculated as 6km minus the distance from the sale postcode to a school
#the closer a school to the postocode, the greater the weight of that school
df_local_schools['weight']=6-df_local_schools['distance']
df_local_schools['disadv_prct']=df_local_schools['disadv_prct'].str.replace('%','')
df_local_schools['disadv_prct'] = df_local_schools['disadv_prct'].replace(np.nan, 0)  #fillna(0)
df_local_schools['disadv_prct'] = df_local_schools['disadv_prct']. fillna(0)
df_local_schools['disadv_prct']= pd.to_numeric(df_local_schools['disadv_prct'], downcast='float')
df_local_schools

         sales_postcode     urn  ...  aver_attain_math    weight
1 0             AL1 1AJ  138042  ...               8.3  4.422326
  1             AL1 1AJ  138106  ...              10.8  5.067710
  2             AL1 1AJ  137038  ...              11.1  4.512236
  3             AL1 1AJ  138582  ...               9.2  4.636620
  4             AL1 1AJ  117674  ...               2.3  3.589736
...                 ...     ...  ...               ...       ...
7 772678        YO8 9XP  144929  ...               8.3  1.906942
  772679        YO8 9XP  143138  ...              10.1  5.299211
  772680        YO8 9YB  121702  ...               9.0  0.579519
  772681        YO8 9YB  143138  ...              10.1  0.917180
  772682        YO8 9YE  143138  ...              10.1  0.188667

[6495209 rows x 7 columns]

In [15]:
#calculating a score for each school mapping
df_local_schools['score_disadv']=df_local_schools['weight'].astype(float)*df_local_schools['disadv_prct'].astype(float)
df_local_schools

         sales_postcode     urn  ...    weight  score_disadv
1 0             AL1 1AJ  138042  ...  4.422326    110.558155
  1             AL1 1AJ  138106  ...  5.067710     50.677096
  2             AL1 1AJ  137038  ...  4.512236     45.122361
  3             AL1 1AJ  138582  ...  4.636620    115.915492
  4             AL1 1AJ  117674  ...  3.589736    283.589142
...                 ...     ...  ...       ...           ...
7 772678        YO8 9XP  144929  ...  1.906942     36.231893
  772679        YO8 9XP  143138  ...  5.299211     95.385806
  772680        YO8 9YB  121702  ...  0.579519      9.851820
  772681        YO8 9YB  143138  ...  0.917180     16.509242
  772682        YO8 9YE  143138  ...  0.188667      3.395998

[6495209 rows x 8 columns]

In [16]:
#counting number of secondary schools (in the radius of 6 km) for each sales postcode
g_sch_num = df_local_schools.groupby(['sales_postcode'])['urn'].count().reset_index()
g_sch_num.rename(columns = {'urn':'num_of_sec_sch'}, inplace = True)
g_sch_num.rename(columns = {'sales_postcode':'postcode'}, inplace = True)
g_sch_num

       postcode  num_of_sec_sch
0       AL1 1AJ              10
1       AL1 1AR              10
2       AL1 1AT              10
3       AL1 1AU              10
4       AL1 1DG              11
...         ...             ...
580840  YO8 9XL               3
580841  YO8 9XN               3
580842  YO8 9XP               3
580843  YO8 9YB               2
580844  YO8 9YE               1

[580845 rows x 2 columns]

In [17]:
#calculating average weighted disability score for each postcode
g_aver_score_disadv = df_local_schools.groupby(['sales_postcode'])['score_disadv'].mean().reset_index()
g_aver_score_disadv.rename(columns = {'sales_postcode':'postcode'}, inplace = True)
g_aver_score_disadv

       postcode  score_disadv
0       AL1 1AJ     78.575432
1       AL1 1AR     70.273088
2       AL1 1AT     73.883530
3       AL1 1AU     73.144251
4       AL1 1DG     72.342235
...         ...           ...
580840  YO8 9XL     70.072425
580841  YO8 9XN     69.052363
580842  YO8 9XP     72.104548
580843  YO8 9YB     13.180531
580844  YO8 9YE      3.395998

[580845 rows x 2 columns]

In [18]:
#For calculating English and Math attainment score for each postcode we'll only consider the most closest school 
#(as taking average score value for all local schools will not be helpful - for example if one closest school in a rural area is 5.9 km away from a property - the distance weighting will diminish the score value)
#extracting the closest schools:
g_closest_schools = df_local_schools.groupby(['sales_postcode'])['distance'].min().reset_index()
g_closest_schools.rename(columns = {'distance':'closest_sch_distance'}, inplace = True)
g_closest_schools

       sales_postcode  closest_sch_distance
0             AL1 1AJ              0.932290
1             AL1 1AR              0.455425
2             AL1 1AT              0.676792
3             AL1 1AU              0.638617
4             AL1 1DG              1.093564
...               ...                   ...
580840        YO8 9XL              0.690030
580841        YO8 9XN              0.742595
580842        YO8 9XP              0.700789
580843        YO8 9YB              5.082820
580844        YO8 9YE              5.811333

[580845 rows x 2 columns]

In [19]:
#joining the closest school table with df_local_schools to obtains english and math attainment for the closest schools
g_closest_schools_with_data = pd.merge(df_local_schools, g_closest_schools, how="left", on="sales_postcode")
g_closest_schools_with_data.drop(g_closest_schools_with_data[g_closest_schools_with_data['distance']!=g_closest_schools_with_data['closest_sch_distance']].index, inplace = True)
g_closest_schools_with_data.rename(columns = {'disadv_prct':'closest_disadv_prct'}, inplace = True)
g_closest_schools_with_data.rename(columns = {'sales_postcode':'postcode'}, inplace = True)
g_closest_schools_with_data.rename(columns = {'aver_attain_eng':'closest_aver_attain_eng'}, inplace = True)
g_closest_schools_with_data.rename(columns = {'aver_attain_math':'closest_aver_attain_math'}, inplace = True)
g_closest_schools_with_data=g_closest_schools_with_data.drop(['distance', 'weight', 'score_disadv'], axis=1)
g_closest_schools_with_data

        postcode     urn  ...  closest_aver_attain_math  closest_sch_distance
1        AL1 1AJ  138106  ...                      10.8              0.932290
13       AL1 1AR  138582  ...                       9.2              0.455425
23       AL1 1AT  138582  ...                       9.2              0.676792
33       AL1 1AU  138582  ...                       9.2              0.638617
40       AL1 1DG  138042  ...                       8.3              1.093564
...          ...     ...  ...                       ...                   ...
6495199  YO8 9XL  143138  ...                      10.1              0.690030
6495202  YO8 9XN  143138  ...                      10.1              0.742595
6495205  YO8 9XP  143138  ...                      10.1              0.700789
6495207  YO8 9YB  143138  ...                      10.1              5.082820
6495208  YO8 9YE  143138  ...                      10.1              5.811333

[587998 rows x 6 columns]

In [20]:
#some postcodes will have more than one school at exactly the same closest distance 
data_test2 = g_closest_schools_with_data.groupby(['postcode'])['urn'].count().reset_index()
data_test3=data_test2[(data_test2['urn'] !=1)]
data_test3

       postcode  urn
3342    B13 8PG    2
3343    B13 8PP    2
3344    B13 8PQ    2
3733    B14 6AB    2
3736    B14 6AH    2
...         ...  ...
573712  WV6 8PH    2
573713  WV6 8PJ    2
573715  WV6 8PP    2
573716  WV6 8PQ    2
573773  WV6 8XR    2

[7153 rows x 2 columns]

In [21]:
#chosing maximum closest_disadv_prct,	closest_aver_attain_eng,	closest_aver_attain_math for each sales postcode
g_closest_schools_max1 = g_closest_schools_with_data.groupby(['postcode'])['closest_disadv_prct'].max().reset_index()
g_closest_schools_max2 = g_closest_schools_with_data.groupby(['postcode'])['closest_aver_attain_eng'].max().reset_index()
g_closest_schools_max3 = g_closest_schools_with_data.groupby(['postcode'])['closest_aver_attain_math'].max().reset_index()
g_closest_schools_max4 = g_closest_schools_with_data.groupby(['postcode'])['closest_sch_distance'].max().reset_index()
g_closest_schools_with_data_max=pd.merge(g_closest_schools_max1,g_closest_schools_max2, how="left", on="postcode")
g_closest_schools_with_data_max=pd.merge(g_closest_schools_with_data_max,g_closest_schools_max3, how="left", on="postcode")
g_closest_schools_with_data_max=pd.merge(g_closest_schools_with_data_max,g_closest_schools_max4, how="left", on="postcode")
g_closest_schools_with_data_max

       postcode  ...  closest_sch_distance
0       AL1 1AJ  ...              0.932290
1       AL1 1AR  ...              0.455425
2       AL1 1AT  ...              0.676792
3       AL1 1AU  ...              0.638617
4       AL1 1DG  ...              1.093564
...         ...  ...                   ...
580840  YO8 9XL  ...              0.690030
580841  YO8 9XN  ...              0.742595
580842  YO8 9XP  ...              0.700789
580843  YO8 9YB  ...              5.082820
580844  YO8 9YE  ...              5.811333

[580845 rows x 5 columns]

In [22]:
#join all school data together
#for each prop sales postcode we have number of secondary schools in radius 6 km, weighted average disadvantage score, closest school disadv %, closest sch eng and math attaint, closest sch distance
#alltogether 6 features related to schools data
prepared_sch_data = pd.merge(g_sch_num, g_aver_score_disadv, how="left", on="postcode")
prepared_sch_data = pd.merge(prepared_sch_data, g_closest_schools_with_data_max, how="left", on="postcode")
prepared_sch_data

       postcode  num_of_sec_sch  ...  closest_aver_attain_math  closest_sch_distance
0       AL1 1AJ              10  ...                      10.8              0.932290
1       AL1 1AR              10  ...                       9.2              0.455425
2       AL1 1AT              10  ...                       9.2              0.676792
3       AL1 1AU              10  ...                       9.2              0.638617
4       AL1 1DG              11  ...                       8.3              1.093564
...         ...             ...  ...                       ...                   ...
580840  YO8 9XL               3  ...                      10.1              0.690030
580841  YO8 9XN               3  ...                      10.1              0.742595
580842  YO8 9XP               3  ...                      10.1              0.700789
580843  YO8 9YB               2  ...                      10.1              5.082820
580844  YO8 9YE               1  ...                      10.1              5.811333

[580845 rows x 7 columns]

In [48]:
data

                                    unique_id  ...  postcode
0        726BF13A-B9B6-0A46-E053-6C04A8C01D0D  ...   M30 8EG
1        9B361206-34DE-1904-E053-6B04A8C0EEB5  ...   M25 1ET
2        726BF13B-13CE-0A46-E053-6C04A8C01D0D  ...   NR3 1SX
3        A71375FD-EBA1-7576-E053-6C04A8C0462F  ...  SW12 0JP
4        8355F008-F016-55C5-E053-6B04A8C0D090  ...   CM7 1TD
...                                       ...  ...       ...
1231571  8355F009-2B4F-55C5-E053-6B04A8C0D090  ...   WN7 1NG
1231572  8A78B2B0-784A-5CB0-E053-6B04A8C0F504  ...  NP12 3LQ
1231573  8355F009-8A15-55C5-E053-6B04A8C0D090  ...   CH6 5DY
1231574  8A78B2B0-4326-5CB0-E053-6B04A8C0F504  ...  OL14 8NL
1231575  7011B109-AC9A-8ED6-E053-6B04A8C075C1  ...  IP27 0PU

[1219330 rows x 9 columns]

In [49]:
#append prepared_sch_data to data
data = pd.merge(data, prepared_sch_data, how="left", on="postcode")
data

                                    unique_id  ...  closest_sch_distance
0        726BF13A-B9B6-0A46-E053-6C04A8C01D0D  ...              0.671216
1        9B361206-34DE-1904-E053-6B04A8C0EEB5  ...              0.320619
2        726BF13B-13CE-0A46-E053-6C04A8C01D0D  ...              0.584296
3        A71375FD-EBA1-7576-E053-6C04A8C0462F  ...              0.543902
4        8355F008-F016-55C5-E053-6B04A8C0D090  ...              0.452391
...                                       ...  ...                   ...
1219325  8355F009-2B4F-55C5-E053-6B04A8C0D090  ...              1.542007
1219326  8A78B2B0-784A-5CB0-E053-6B04A8C0F504  ...              0.000000
1219327  8355F009-8A15-55C5-E053-6B04A8C0D090  ...              0.000000
1219328  8A78B2B0-4326-5CB0-E053-6B04A8C0F504  ...              2.462274
1219329  7011B109-AC9A-8ED6-E053-6B04A8C075C1  ...              2.720025

[1219330 rows x 15 columns]

In [50]:
data = data.dropna()
data

                                    unique_id  ...  closest_sch_distance
0        726BF13A-B9B6-0A46-E053-6C04A8C01D0D  ...              0.671216
1        9B361206-34DE-1904-E053-6B04A8C0EEB5  ...              0.320619
2        726BF13B-13CE-0A46-E053-6C04A8C01D0D  ...              0.584296
3        A71375FD-EBA1-7576-E053-6C04A8C0462F  ...              0.543902
4        8355F008-F016-55C5-E053-6B04A8C0D090  ...              0.452391
...                                       ...  ...                   ...
1219325  8355F009-2B4F-55C5-E053-6B04A8C0D090  ...              1.542007
1219326  8A78B2B0-784A-5CB0-E053-6B04A8C0F504  ...              0.000000
1219327  8355F009-8A15-55C5-E053-6B04A8C0D090  ...              0.000000
1219328  8A78B2B0-4326-5CB0-E053-6B04A8C0F504  ...              2.462274
1219329  7011B109-AC9A-8ED6-E053-6B04A8C075C1  ...              2.720025

[1219187 rows x 15 columns]

In [51]:
#column to represent historic point: 01-2018=>1, 02-2018=>2 etc
#hist_mnth=12*(year-2018)+month
data['hist_mnth']=data['deed_date'].str.split('/').str[1].astype(int)+ 12*(data['deed_date'].str.split('/').str[2].astype(int)-2018)
data

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

                                    unique_id  ...  hist_mnth
0        726BF13A-B9B6-0A46-E053-6C04A8C01D0D  ...          7
1        9B361206-34DE-1904-E053-6B04A8C0EEB5  ...         23
2        726BF13B-13CE-0A46-E053-6C04A8C01D0D  ...          4
3        A71375FD-EBA1-7576-E053-6C04A8C0462F  ...         26
4        8355F008-F016-55C5-E053-6B04A8C0D090  ...         14
...                                       ...  ...        ...
1219325  8355F009-2B4F-55C5-E053-6B04A8C0D090  ...         14
1219326  8A78B2B0-784A-5CB0-E053-6B04A8C0F504  ...         16
1219327  8355F009-8A15-55C5-E053-6B04A8C0D090  ...         14
1219328  8A78B2B0-4326-5CB0-E053-6B04A8C0F504  ...         16
1219329  7011B109-AC9A-8ED6-E053-6B04A8C075C1  ...          5

[1219187 rows x 16 columns]

In [52]:
#extracting historic (3 months) median price per bedroom for each postal area
sqlstring='SELECT  median_hist_3mth_ppb.postcode_area_m_y,  median_hist_3mth_ppb.median_ppb_3mnths_ago FROM projectdata.median_hist_3mth_ppb'
hist_median_ppb_3mnth=db.sql(sqlstring)
df_hist_median_ppb_3mnth=pd.DataFrame(hist_median_ppb_3mnth)
df_hist_median_ppb_3mnth

      postcode_area_m_y  median_ppb_3mnths_ago
0          AL10_01_2018           117916.66670
1          AL10_01_2019           121666.66670
2          AL10_01_2020           123112.50000
3          AL10_02_2018           121666.66670
4          AL10_02_2019           126666.66670
...                 ...                    ...
62259       YO8_10_2019            60916.66667
62260       YO8_11_2018            62083.33333
62261       YO8_11_2019            58000.00000
62262       YO8_12_2018            65500.00000
62263       YO8_12_2019            66250.00000

[62264 rows x 2 columns]

In [53]:
#extracting historic (4 months) median price per bedroom for each postal area
sqlstring='SELECT  median_hist_4mth_ppb.postcode_area_m_y,  median_hist_4mth_ppb.median_ppb_4mnths_ago FROM projectdata.median_hist_4mth_ppb'
hist_median_ppb_4mnth=db.sql(sqlstring)
df_hist_median_ppb_4mnth=pd.DataFrame(hist_median_ppb_4mnth)
df_hist_median_ppb_4mnth

      postcode_area_m_y  median_ppb_4mnths_ago
0          AL10_01_2018           117916.66670
1          AL10_01_2019           114166.66670
2          AL10_01_2020           120000.00000
3          AL10_02_2018           121666.66670
4          AL10_02_2019           121666.66670
...                 ...                    ...
64330       YO8_10_2019            68750.00000
64331       YO8_11_2018            66000.00000
64332       YO8_11_2019            60916.66667
64333       YO8_12_2018            62083.33333
64334       YO8_12_2019            58000.00000

[64335 rows x 2 columns]

In [54]:
#fields for merging with historic median prices per bedroom 
data['postcode_area_m_y']=data['postcode'].str.split(' ').str[0]+'_'+data['deed_date'].str.split('/').str[1]+'_'+data['deed_date'].str.split('/').str[2]
data

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

                                    unique_id  ...  postcode_area_m_y
0        726BF13A-B9B6-0A46-E053-6C04A8C01D0D  ...        M30_07_2018
1        9B361206-34DE-1904-E053-6B04A8C0EEB5  ...        M25_11_2019
2        726BF13B-13CE-0A46-E053-6C04A8C01D0D  ...        NR3_04_2018
3        A71375FD-EBA1-7576-E053-6C04A8C0462F  ...       SW12_02_2020
4        8355F008-F016-55C5-E053-6B04A8C0D090  ...        CM7_02_2019
...                                       ...  ...                ...
1219325  8355F009-2B4F-55C5-E053-6B04A8C0D090  ...        WN7_02_2019
1219326  8A78B2B0-784A-5CB0-E053-6B04A8C0F504  ...       NP12_04_2019
1219327  8355F009-8A15-55C5-E053-6B04A8C0D090  ...        CH6_02_2019
1219328  8A78B2B0-4326-5CB0-E053-6B04A8C0F504  ...       OL14_04_2019
1219329  7011B109-AC9A-8ED6-E053-6B04A8C075C1  ...       IP27_05_2018

[1219187 rows x 17 columns]

In [55]:
#merging the dataset with median historic prices per bedroom
data = pd.merge(data, df_hist_median_ppb_3mnth, how="left", on="postcode_area_m_y")
data = pd.merge(data, df_hist_median_ppb_4mnth, how="left", on="postcode_area_m_y")
data

                                    unique_id  ...  median_ppb_4mnths_ago
0        726BF13A-B9B6-0A46-E053-6C04A8C01D0D  ...            56187.50000
1        9B361206-34DE-1904-E053-6B04A8C0EEB5  ...            79000.00000
2        726BF13B-13CE-0A46-E053-6C04A8C01D0D  ...            64341.66667
3        A71375FD-EBA1-7576-E053-6C04A8C0462F  ...           330000.00000
4        8355F008-F016-55C5-E053-6B04A8C0D090  ...           101666.66670
...                                       ...  ...                    ...
1219182  8355F009-2B4F-55C5-E053-6B04A8C0D090  ...            40499.37500
1219183  8A78B2B0-784A-5CB0-E053-6B04A8C0F504  ...            50500.00000
1219184  8355F009-8A15-55C5-E053-6B04A8C0D090  ...            45416.66667
1219185  8A78B2B0-4326-5CB0-E053-6B04A8C0F504  ...            56650.00000
1219186  7011B109-AC9A-8ED6-E053-6B04A8C075C1  ...            66666.66667

[1219187 rows x 19 columns]

In [56]:
#checking where median_ppb_3mnths_ago is NAN 
data_nan_median_historic_ppb = data[(data['median_ppb_3mnths_ago'].isnull())]
data_nan_median_historic_ppb

                                    unique_id  ...  median_ppb_4mnths_ago
545      75050A84-D2F3-9A88-E053-6B04A8C02390  ...                    NaN
579      773788C2-5C25-2CE4-E053-6C04A8C05E57  ...                    NaN
853      8F1B26BD-E807-53DB-E053-6C04A8C03649  ...            32400.00000
1243     7E86B6FB-1C9D-458C-E053-6B04A8C0C84C  ...           616301.33330
1264     7C2D0700-652F-4963-E053-6B04A8C07B97  ...                    NaN
...                                       ...  ...                    ...
1218793  75050A85-D125-9A88-E053-6B04A8C02390  ...            34666.66667
1218795  7011B109-2063-8ED6-E053-6B04A8C075C1  ...                    NaN
1218889  75050A85-D022-9A88-E053-6B04A8C02390  ...            58416.66667
1219104  93E6821F-1D1A-40FD-E053-6B04A8C0C1DF  ...           183500.00000
1219140  87E1551E-F73A-6405-E053-6C04A8C0B2EE  ...            17500.00000

[5144 rows x 19 columns]

In [57]:
#checking where median_ppb_4mnths_ago is NAN 
data_nan_median_historic_ppb = data[(data['median_ppb_4mnths_ago'].isnull())]
data_nan_median_historic_ppb

                                    unique_id  ...  median_ppb_4mnths_ago
73       79A74E22-03DF-1289-E053-6B04A8C01627  ...                    NaN
460      919FEC05-7458-9A90-E053-6C04A8C0A300  ...                    NaN
545      75050A84-D2F3-9A88-E053-6B04A8C02390  ...                    NaN
579      773788C2-5C25-2CE4-E053-6C04A8C05E57  ...                    NaN
783      773788C2-AD4C-2CE4-E053-6C04A8C05E57  ...                    NaN
...                                       ...  ...                    ...
1218795  7011B109-2063-8ED6-E053-6B04A8C075C1  ...                    NaN
1218941  80E1AA98-2F1B-7BF8-E053-6C04A8C00BF2  ...                    NaN
1219006  8F1B26BD-7410-53DB-E053-6C04A8C03649  ...                    NaN
1219035  8F1B26BD-70AB-53DB-E053-6C04A8C03649  ...                    NaN
1219036  75050A85-6DA5-9A88-E053-6B04A8C02390  ...                    NaN

[5508 rows x 19 columns]

In [58]:
#removing from the dataset those transactions which do not have the historic median ppb info 
data = data.dropna()
data

                                    unique_id  ...  median_ppb_4mnths_ago
0        726BF13A-B9B6-0A46-E053-6C04A8C01D0D  ...            56187.50000
1        9B361206-34DE-1904-E053-6B04A8C0EEB5  ...            79000.00000
2        726BF13B-13CE-0A46-E053-6C04A8C01D0D  ...            64341.66667
3        A71375FD-EBA1-7576-E053-6C04A8C0462F  ...           330000.00000
4        8355F008-F016-55C5-E053-6B04A8C0D090  ...           101666.66670
...                                       ...  ...                    ...
1219182  8355F009-2B4F-55C5-E053-6B04A8C0D090  ...            40499.37500
1219183  8A78B2B0-784A-5CB0-E053-6B04A8C0F504  ...            50500.00000
1219184  8355F009-8A15-55C5-E053-6B04A8C0D090  ...            45416.66667
1219185  8A78B2B0-4326-5CB0-E053-6B04A8C0F504  ...            56650.00000
1219186  7011B109-AC9A-8ED6-E053-6B04A8C075C1  ...            66666.66667

[1210780 rows x 19 columns]

In [59]:
#calculate each price per bedroom for comparing with historic median ppd
data['this_price_per_bedroom']=data['price_paid']/data['num_of_beds']
data['compare_ppd_re_hist_median_3mnths']=100*(data['this_price_per_bedroom']-data['median_ppb_3mnths_ago'])/data['median_ppb_3mnths_ago']
data['compare_ppd_re_hist_median_4mnths']=100*(data['this_price_per_bedroom']-data['median_ppb_4mnths_ago'])/data['median_ppb_4mnths_ago']
data

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

                                    unique_id  ...  compare_ppd_re_hist_median_4mnths
0        726BF13A-B9B6-0A46-E053-6C04A8C01D0D  ...                          77.975528
1        9B361206-34DE-1904-E053-6B04A8C0EEB5  ...                           0.632911
2        726BF13B-13CE-0A46-E053-6C04A8C01D0D  ...                          98.937961
3        A71375FD-EBA1-7576-E053-6C04A8C0462F  ...                          -4.848485
4        8355F008-F016-55C5-E053-6B04A8C0D090  ...                          67.213115
...                                       ...  ...                                ...
1219182  8355F009-2B4F-55C5-E053-6B04A8C0D090  ...                         -95.849686
1219183  8A78B2B0-784A-5CB0-E053-6B04A8C0F504  ...                         -97.813531
1219184  8355F009-8A15-55C5-E053-6B04A8C0D090  ...                         -97.197665
1219185  8A78B2B0-4326-5CB0-E053-6B04A8C0F504  ...                         -97.929674
1219186  7011B109-AC9A-8ED6-E053-6B04A8C075C1  ...                         -97.335106

[1210780 rows x 22 columns]

In [60]:
#extracting data on distances from each sales postcode to three locations (in London, Birmingham, Manchester) 
sqlstring='SELECT  distances_to_three_locations.sales_postcode,  distances_to_three_locations.distances_Lond,  distances_to_three_locations.distances_Manch,  distances_to_three_locations.distances_Birming FROM projectdata.distances_to_three_locations'
data_on_distances=db.sql(sqlstring)
df_data_on_distances=pd.DataFrame(data_on_distances)
df_data_on_distances.rename(columns = {'sales_postcode':'postcode'}, inplace = True)
df_data_on_distances=df_data_on_distances.round({'distances_Lond': 5, 'distances_Manch': 5,'distances_Birming': 5 })
#--------------------------------------------------
df_data_on_distances['add_num']=df_data_on_distances['postcode'].str.split(' ').str[1].str[-1:]
df_data_on_distances['add_num']=df_data_on_distances['add_num'].map({'A':'1','B':'2','C':'3','D':'4','E':'5','F':'6','G':'7','H':'8','I':'9','J':'10','K':'11','L':'12','M':'13','N':'14','O':'15','P':'16','Q':'17','R':'18','S':'19','T':'20','U':'21','V':'22','W':'23','X':'24','Y':'25','Z':'26'})
df_data_on_distances['add_num']=df_data_on_distances['add_num'].astype(float)
df_data_on_distances['distances_Lond']=df_data_on_distances['distances_Lond']+0.0001*df_data_on_distances['add_num']
df_data_on_distances['distances_Lond']=(df_data_on_distances['distances_Lond']*1000000).astype(int)*100
df_data_on_distances['distances_Manch']=(df_data_on_distances['distances_Manch']*1000000).astype(int)*100
df_data_on_distances['distances_Birming']=(df_data_on_distances['distances_Birming']*1000000).astype(int)*100
df_data_on_distances.drop(['add_num'],  axis='columns', inplace=True)
df_data_on_distances

       postcode  distances_Lond  distances_Manch  distances_Birming
0       AL1 1AJ      2799619000      23266136000        13526048000
1       AL1 1AR      2721051000      23352395000        13618984000
2       AL1 1AT      2749614000      23323872000        13592915000
3       AL1 1AU      2743726900      23329416000        13597375000
4       AL1 1DG      2875380000      23179172000        13422322000
...         ...             ...              ...                ...
580927  YO8 9XL     25831381000       8403574000        15374529000
580928  YO8 9XN     25824568900       8402270000        15368758000
580929  YO8 9XP     25846332000       8420687000        15395483000
580930  YO8 9YB     25968414000       7884438000        15173418000
580931  YO8 9YE     25984386900       7816329000        15145992000

[580932 rows x 4 columns]

In [61]:
#checking if the combination of the three distances uniquely defines each postcode
df_data_on_distances['location_key']=((df_data_on_distances['distances_Lond']*0.01).astype(int)).astype(str) + '_' + ((df_data_on_distances['distances_Manch']*0.01).astype(int)).astype(str)+ '_' + ((df_data_on_distances['distances_Birming']*0.01).astype(int)).astype(str)
g_dist_test = df_data_on_distances.groupby(['location_key'])['postcode'].count().reset_index()
g_dist_test_if_not_unique=g_dist_test[(g_dist_test['postcode']>1)]
g_dist_test_if_not_unique

Empty DataFrame
Columns: [location_key, postcode]
Index: []

In [62]:
data = pd.merge(data, df_data_on_distances, how="left", on="postcode")
data

                                    unique_id  ...                   location_key
0        726BF13A-B9B6-0A46-E053-6C04A8C01D0D  ...    265107680_7185400_116222960
1        9B361206-34DE-1904-E053-6B04A8C0EEB5  ...    265399700_5426470_119029830
2        726BF13B-13CE-0A46-E053-6C04A8C01D0D  ...  160166900_255056560_217242170
3        A71375FD-EBA1-7576-E053-6C04A8C0462F  ...    7707949_267712450_167018680
4        8355F008-F016-55C5-E053-6B04A8C0D090  ...   62965330_260148780_180395160
...                                       ...  ...                            ...
1210775  8355F009-2B4F-55C5-E053-6B04A8C0D090  ...   272369220_17732710_120755550
1210776  8A78B2B0-784A-5CB0-E053-6B04A8C0F504  ...  211049850_211100740_126541230
1210777  8355F009-8A15-55C5-E053-6B04A8C0D090  ...   278048460_63555890_117936030
1210778  8A78B2B0-4326-5CB0-E053-6B04A8C0F504  ...   280515979_29064780_140227150
1210779  7011B109-AC9A-8ED6-E053-6B04A8C075C1  ...  118527900_223022560_170965100

[1210780 rows x 26 columns]

In [63]:
#removing data which has current 'price-per-bedroom' over 100% comparing to the historic medial 'price-per-bedroom'
data = data[(data['compare_ppd_re_hist_median_3mnths'] <=100) & (data['compare_ppd_re_hist_median_3mnths'] >=-100) ]
data = data[(data['compare_ppd_re_hist_median_4mnths'] <=100) & (data['compare_ppd_re_hist_median_4mnths'] >=-100) ]
data

                                    unique_id  ...                   location_key
0        726BF13A-B9B6-0A46-E053-6C04A8C01D0D  ...    265107680_7185400_116222960
1        9B361206-34DE-1904-E053-6B04A8C0EEB5  ...    265399700_5426470_119029830
2        726BF13B-13CE-0A46-E053-6C04A8C01D0D  ...  160166900_255056560_217242170
3        A71375FD-EBA1-7576-E053-6C04A8C0462F  ...    7707949_267712450_167018680
4        8355F008-F016-55C5-E053-6B04A8C0D090  ...   62965330_260148780_180395160
...                                       ...  ...                            ...
1210775  8355F009-2B4F-55C5-E053-6B04A8C0D090  ...   272369220_17732710_120755550
1210776  8A78B2B0-784A-5CB0-E053-6B04A8C0F504  ...  211049850_211100740_126541230
1210777  8355F009-8A15-55C5-E053-6B04A8C0D090  ...   278048460_63555890_117936030
1210778  8A78B2B0-4326-5CB0-E053-6B04A8C0F504  ...   280515979_29064780_140227150
1210779  7011B109-AC9A-8ED6-E053-6B04A8C075C1  ...  118527900_223022560_170965100

[1173896 rows x 26 columns]

In [64]:
#remove columns: 'this_price_per_bedroom',	'compare_ppd_re_hist_median_3mnths',	'compare_ppd_re_hist_median_4mnths' (these were calculated using the known sales prices)
data.drop(['this_price_per_bedroom' ,'compare_ppd_re_hist_median_3mnths', 'compare_ppd_re_hist_median_4mnths'],  axis='columns', inplace=True)
data

                                    unique_id  ...                   location_key
0        726BF13A-B9B6-0A46-E053-6C04A8C01D0D  ...    265107680_7185400_116222960
1        9B361206-34DE-1904-E053-6B04A8C0EEB5  ...    265399700_5426470_119029830
2        726BF13B-13CE-0A46-E053-6C04A8C01D0D  ...  160166900_255056560_217242170
3        A71375FD-EBA1-7576-E053-6C04A8C0462F  ...    7707949_267712450_167018680
4        8355F008-F016-55C5-E053-6B04A8C0D090  ...   62965330_260148780_180395160
...                                       ...  ...                            ...
1210775  8355F009-2B4F-55C5-E053-6B04A8C0D090  ...   272369220_17732710_120755550
1210776  8A78B2B0-784A-5CB0-E053-6B04A8C0F504  ...  211049850_211100740_126541230
1210777  8355F009-8A15-55C5-E053-6B04A8C0D090  ...   278048460_63555890_117936030
1210778  8A78B2B0-4326-5CB0-E053-6B04A8C0F504  ...   280515979_29064780_140227150
1210779  7011B109-AC9A-8ED6-E053-6B04A8C075C1  ...  118527900_223022560_170965100

[1173896 rows x 23 columns]

In [65]:
#separate dataset which to be used for the predicted values analysis
data_for_prediction_analysis = data.groupby(['location_key'])['postcode'].first().reset_index()
data_for_prediction_analysis_1 = data.groupby(['location_key'])['district'].first().reset_index()
data_for_prediction_analysis=pd.merge(data_for_prediction_analysis, data_for_prediction_analysis_1, how="left", on="location_key")
data_for_prediction_analysis

                         location_key  postcode        district
0       100000460_235813700_173697830  IP28 6QS  ST EDMUNDSBURY
1       100000900_306645770_193413260   PO2 9AE      PORTSMOUTH
2       100001709_306232250_192988720   PO2 8NT      PORTSMOUTH
3       100002450_241021470_178393000  IP33 3UF  ST EDMUNDSBURY
4       100002500_240933210_178314290  IP33 3UE  ST EDMUNDSBURY
...                               ...       ...             ...
562389   99996800_303056370_189735890  PO16 9PA         FAREHAM
562390   99998470_302856560_189531620  PO16 9UH         FAREHAM
562391   99998690_306575700_193341460   PO2 9BS      PORTSMOUTH
562392    9999870_270237390_170268490  SE21 7EU       SOUTHWARK
562393    99999640_169935390_61359420  OX16 4TG        CHERWELL

[562394 rows x 3 columns]

In [66]:
#remove columns which are no longer required
data.drop(['unique_id' ,'town',	'district', 'deed_date',	'postcode','postcode_area_m_y', 'location_key' ],  axis='columns', inplace=True)
data

         num_of_beds  price_paid  ... distances_Manch distances_Birming
0                  1    100000.0  ...       718540000       11622296000
1                  1     79500.0  ...       542647000       11902983000
2                  1    128000.0  ...     25505656000       21724217000
3                  1    314000.0  ...     26771245000       16701868000
4                  1    170000.0  ...     26014878000       18039516000
...              ...         ...  ...             ...               ...
1210775           47     79000.0  ...      1773271000       12075555000
1210776           48     53000.0  ...     21110074000       12654123000
1210777           55     70000.0  ...      6355589000       11793603000
1210778           81     95000.0  ...      2906478000       14022715000
1210779           94    167000.0  ...     22302256000       17096510000

[1173896 rows x 16 columns]

In [67]:
#separate the main dataset into (1).the dataset which will be used for training and testing and (2).validation dataset
#we would like to the validation dataset to contain the latest data (we would like to predictict the most recent prices - i.e. Feb 2020)
#(1) training and testing dataset(approx 97%) and  (2) validation dataset (approx 3%) 
train_and_test_data=data[(data['hist_mnth']!=26)]
train_and_test_data

         num_of_beds  price_paid  ... distances_Manch distances_Birming
0                  1    100000.0  ...       718540000       11622296000
1                  1     79500.0  ...       542647000       11902983000
2                  1    128000.0  ...     25505656000       21724217000
4                  1    170000.0  ...     26014878000       18039516000
6                  1     33000.0  ...      4781898000       12633222000
...              ...         ...  ...             ...               ...
1210775           47     79000.0  ...      1773271000       12075555000
1210776           48     53000.0  ...     21110074000       12654123000
1210777           55     70000.0  ...      6355589000       11793603000
1210778           81     95000.0  ...      2906478000       14022715000
1210779           94    167000.0  ...     22302256000       17096510000

[1135509 rows x 16 columns]

In [68]:
validation_data=data[(data['hist_mnth']==26)]
validation_data

         num_of_beds  price_paid  ... distances_Manch distances_Birming
3                  1    314000.0  ...     26771245000       16701868000
50                 1    225000.0  ...     26684681000       17218624000
77                 1    120000.0  ...     30370523000       19027695000
109                1    500000.0  ...     26527685000       16536000000
200                1     52000.0  ...      6604266000       17029935000
...              ...         ...  ...             ...               ...
1210681           11    415000.0  ...      3773829000       12954650000
1210682           11    900000.0  ...     11716322000         410900900
1210717           12    840000.0  ...     15043775000        5857544000
1210736           13    660000.0  ...     11226349000         417089900
1210773           39     95000.0  ...      2508229000       11872660000

[38387 rows x 16 columns]

In [69]:
from google.colab import files
with open('test data predictions.csv', 'w') as f:
  #f.write('some content')
  train_and_test_data.to_csv('train_and_test_data.csv', index=False)
  validation_data.to_csv('validation_data.csv', index=False)
  data_for_prediction_analysis.to_csv('locations_categorical_features.csv', index=False)
files.download('train_and_test_data.csv')    
files.download('validation_data.csv')  
files.download('locations_categorical_features.csv')